extends layouts/presentation

block append head
	title JavaScript Programming Bootcamp

block content
	section
		img.no-border(style="max-height: 30vh", src='/img/js.png')
		h2 Programming Bootcamp

	section
		section
			h1 Computer Basics
		
		section
			h1  centralized
			small vs
			h1 distributed

		section
			h3 Centralized
			img.no-border(src='/img/centralized.svg')

		section
			h3 Distributed
			img.no-border(src='/img/decentralized.svg')
	
	section
		section
			h1 Programming Basics

	section
		section
			h1 JS Basics
		section
			blockquote.
				JavaScript (/ˈdʒɑːvəˌskrɪpt/[6]), often abbreviated as JS, is a high-level, dynamic, weakly typed, object-based, multi-paradigm, and interpreted programming language.
		section
			h1 Why learn JavaScript?
			
	section
		section
			h1 Value Types
			h4 &
			h1 Operators

	section
		section
			h1 What's in a Program
		section
			h2 Syntax
			h4 Structural rules of the language
		section
			h2 Keywords
			code.js
				| break case catch class const continue debugger default delete do else enum export extends false finally for function if implements import in instanceof interface let new null package private protected public return static super switch this throw true try typeof var void while with yield
		section
			h2 Expressions
		section
			h2 Statements
			
	section
		section
			h1 Functions

	section
		section
			h1 Complex Data Structures
			h2 Arrays
			h2 Objects
			
	section
		section
			h1 Higher Order functions
			h3 or "Functions that accept functions"

	section
		section
			h1 What's `this` all about
			
	section
		section
			h2 More of the Same() please
			h1 Prototypes and `class`

	section
		section
			h2 ShitsOnFireError
			h1 Handling and Throwing Errors
			
	section
		section
			h1 Dates
			h4 tl;dr use moment.js
			//- 
			//- pre: code.bash(data-trim)
			//- 	| git config --global user.name "me myself"
			//- 
			//- pre: code.bash(data-trim)
			//- 	| git config --global user.email me@myself.com
